body {
    background: linear-gradient(132deg, rgb(65, 80, 95) 0.00%, rgb(53, 62, 71) 36.57%, rgb(36, 37, 38) 100.00%);
}

#container-categoria { 
    background: #fff;
    width: 700px;
    height: 600px;
}